/*Desktop CSS properties*/
@media screen and (max-width: 1824px) {
body {
	width: 100%;
	padding: 0;
	margin: 0;
}
nav {
  width: auto;
  height: 42px;
  background-color: rgba(0,0,0,0.8);
  border: 0.2px solid #FFFFFF;
}
.nav-bar {
	width: 99%;
	height: inherit;
	margin: auto;
}
nav ul {
	margin: 0.8% auto;
	text-align: justify;
	padding-left: 18%;
}
nav ul li {
  display: inline-block;
  padding-right: 4%;
  text-align: center;
}
nav ul li a {
	text-decoration: none;
	font-family: 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 0.8em;
    color: #FFFFFF;
}
nav ul li a:hover {
	color: #666;
}
.main-image {
	width: 100%;
	overflow: hidden;
}
.image-section, .text-section {
	width: 50%;
	float: left;
}
.image-section .content-image {
	width: 75%;
	height: auto;
	padding-left: 31%;
	padding-top: 13.5%;
}
.content-image img {
	width: 100%;
}
.text-section .name {
	width: 25%;
	height: auto; 
	padding-top: 30%;
	margin-right: 60%;
	margin-left: 12%;
}	
.text-section .text {
	width: 100%;
	height: auto;
	padding-left: 6%;
	padding-top: 1%;
}
.text-section h1 {
	font-family:'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
}
.text-section .links {
	width: 100%;
	height: auto;
	padding-left: 13%;
	padding-top: 0;	
}
.text-section .links a, .text-section .links1 a  {
	text-decoration: none;
	color: rgb(0, 136, 300);
	font-family:'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: normal;
	text-align: center;
}
.text-section .links a:hover {
	color: #000000;
}
.text-section .links1 {
	width: 100%;
	height: auto;
	padding-left: 6%;
	padding-top: 2%;
}
.text-section .links1 a:hover {
	color: #000000;
}
.secondary-image {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.secondary-image div {
	width: 50%;
	float: left;
}
.secondary-image div img {
	width: 100%;
	height: auto;
	margin: 0;
	padding-bottom: 0;
}
.adapter-program-link {
	margin: 0 auto;
    padding: 19.9px 0;
    text-align: center;
	border: 0.1px solid #FFFFFF;
}
.adapter-program-link a {
	font-family:'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	color: rgb(0, 136, 300);
	text-decoration: none;
}
.adapter-program-link a:hover {
	text-decoration: underline;
}
footer {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
}
.footer {
	width: 65.67%;
	margin: 0 auto;
	padding: 0 1.47%;
	border: 0.1px solid #f2f2f2;
}
.footer div {
	display: inline-block;
	width: 19%;
	vertical-align: top;
}
.first-column li, .second-column li, .third-column li, .fourth-column li, .fifth-column li, .more-contacts p {
	color: #666;
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 0.8em;
	list-style: none;
	padding-bottom: 5%;
	text-align: left;
}
li.list-name {
	color: #000000;
	font-weight: bold;
}
.footer a {
	text-decoration: none;
	color: #666;
}
.footer a:hover {
	text-decoration: underline;
}
footer div.more-contacts {
	display: block;
	width: 100%;
	padding-left: 4.1%;
}
.more-contacts a {
	color: rgb(0, 136, 300);
}
.more-contacts a :hover {
	color: black;
	text-decoration: underline;
}
}
@media screen and (max-width: 768px){
nav ul {
	margin: 1.1% auto;
	text-align: justify;
	padding-left: 8%;
}
.text-section .text {
	width: 100%;
	height: auto;
	padding-left: 13%;
	padding-top: 1%;
	}
.text-section h1 {
	font-family:'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	}
.text-section .links a, .text-section .links1 a  {
	text-decoration: none;
	color: rgb(0, 136, 300);
	font-family:'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	text-align: center;
}
.text-section .links {
	width: 100%;
	height: auto;
	padding-left: 20%;
	padding-top: 0;
}
.text-section .links1 {
	width: 100%;
	height: auto;
	padding-left: 11%;
	padding-top: 2%;
}
.footer {
	width: 98%;
	margin: 0 auto;
	padding: 0 1.47%;
	border: 0.1px solid #f2f2f2;
}
}
@media screen and (max-width: 480px){
.secondary-image div {
	width: 100%;
}
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.47%;
	border: 0.1px solid #f2f2f2;
}
.footer div {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding-top: 3%;
}
.footer.last {
	position: absolute;
	top: -50%;
}
.footer div ul {
	margin: 0;
}
}